@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Ruda&family=Six+Caps&display=swap");
header nav {
  background-color: #011627;
  margin-top: 2px;
  border-bottom: solid 6px #8d0801bd; }

.navLetras {
  color: white;
  font-family: "Ruda", sans-serif; }

.nav-link:hover {
  color: #8d0801;
  transition: all 1.5s; }

.navLink:focus {
  color: #8d0801; }

/* CARRUSEL */
.carrusel {
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
  border: solid 2px #00000085;
  margin-bottom: 45px;
  margin-top: 45px; }

/* PRODUGTOS PAG NUESTROS PRODUCTOS */
.producto {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
  /* margin: auto; */ }

.boton {
  color: white; }
  .boton:focus {
    color: whitesmoke;
    background-color: #d90429; }
  .boton:hover {
    background-color: #d90429;
    transition: all 1.2s; }

main {
  margin: auto; }

/* LOGO Y BARRA BUSCADORA */
.barra {
  height: 40px;
  margin-top: 10px;
  margin-right: 10px; }

.imagen {
  margin-left: 40px; }

.search {
  color: white;
  background-color: #011627;
  margin-left: 10px; }
  .search:hover {
    background-color: #8d0801;
    color: whitesmoke;
    transition: all 0.8s; }
  .search:focus {
    background-color: #011627; }

.redes {
  margin-top: 18px; }
  .redes a {
    padding-left: 10px;
    text-decoration: none;
    color: #011627; }
    .redes a:hover {
      color: #8d0801;
      transition: all 1.5s; }

/* SECTION INFO */
section {
  padding-top: 50px;
  border-top: #011627 40px solid; }

.section1 {
  height: 400px;
  width: 200px; }

.imgSec {
  border-radius: 15px;
  height: 200px; }

.tarjeta {
  border: #011627bf solid 5px;
  border-radius: 18px;
  font-family: "Ruda", sans-serif; }

/* FOOTER */
footer {
  border-top: 6px solid #011627;
  background-color: #8d0801;
  color: whitesmoke;
  padding: 25px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around; }

.redesF {
  font-family: "Ruda", sans-serif; }
  .redesF a {
    padding-left: 10px;
    text-decoration: none;
    color: whitesmoke; }
    .redesF a:hover {
      color: #011627;
      transition: all 0.7s; }

/* NUESTOR PRODUCTOS SECCION */
.producto {
  display: grid;
  grid-template-areas: "izquierda izquierda1 izquierda2" "izquierda izquierda1 izquierda2" "derecha1 derecha2 derecha3" "derecha1 derecha2 derecha3"; }

.secA1 {
  grid-area: izquierda; }

.secA2 {
  grid-area: izquierda1; }

.secA3 {
  grid-area: izquierda2; }

.secB1 {
  grid-area: derecha1; }

.secB2 {
  grid-area: derecha2; }

.secB3 {
  grid-area: derecha3; }

.aside1 {
  height: 400px;
  width: 600px; }

.texto {
  font-family: "Ruda", sans-serif; }

/* NUESTRO TRABAJO */
.nuestrot {
  height: 500px;
  width: 500px;
  margin-left: 32%; }

.ntimg {
  height: 350px; }

/* contactanos */
.cotiza {
  font-family: "Ruda", sans-serif;
  text-align: center;
  margin-top: 25px;
  color: #011627; }

.marcaVehiculo {
  margin-top: 50px;
  width: 250px;
  font-family: "Ruda", sans-serif; }

.formulario {
  margin-top: 50px;
  /* problemas */
  /* margin-left:;
  width:; */
  font-family: "Ruda", sans-serif; }

.nombreapellido {
  width: 400px; }

.formulario2 {
  margin-left: 260px;
  font-family: "Ruda", sans-serif; }

.correoE {
  width: 800px; }

@media (max-width: 723px) {
  .imagen, .imgaside {
    display: none; }
  .producto, .nuestroTrabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px; }
  .nuestrot {
    width: 300px;
    height: 450px; }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .formulario2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; }
  .nombreapellido, .correoE {
    width: 250px; }
  .marca {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .barra {
    width: 240px; }
  section {
    display: flex;
    flex-direction: column;
    align-items: center; } }
